
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins&display=swap');
@font-face {
  font-family: "SignPainterHouseScript";
  src: url("./SignPainterHouseScript.woff");

}


@font-face {
  font-family: "TheHammerSlabserif";
  src: url("./TheHammerSlabserif.otf");

}


.title{
  text-transform: lowercase !important;

}


h3 {
    font-size: 2em !important;
    font-family: "SignPainterHouseScript", serif !important;
    text-transform: lowercase !important;
}


.description.text{
 font-family: "Poppins", sans-serif !important;
  text-transform: none !important;
  
}


.footnote {

  text-transform: none !important;
  font-family: "Poppins", sans-serif !important;

}
